.git
deploy/*
!deploy/docker-entrypoint.sh
dev/*
!dev/docker-entrypoint.sh
_arsiv
tokensave-docs
docs
.tokensave
node_modules
*.md
config.php
storage/logs/*
storage/sessions/*
storage/cache/*
storage/backups/*
MobileApp
DesktopApp
RandevuBurada
WebApp
